.search-box {
  margin-bottom: 20px;
}

.search-box input {
  width: 90%;
  padding: 10px;
  font-size: 16px;
  border-radius: 8px;
}

.addpost-box {
  padding: 15px;
  border-radius: 10px;
  height: 300px;
  width: 400px;
  border: 1px solid rgb(220, 220, 220);
}

.addpost-box input
 {
  width: 80%;
  padding: 10px;
  margin-bottom: 12px;
  border-radius: 6px;
  border: 1px solid rgb(210, 210, 210);
}
.addpost-box textarea{
  height: 100px;
  width: 80%;
  padding: 10px;
  margin-bottom: 12px;
  border-radius: 6px;
  border: 1px solid rgb(210, 210, 210);
}

.addpost-box button {
  padding: 10px 15px;
  border-radius: 6px;
  background-color: rgb(240, 80, 80);
  color: white;
  cursor: pointer;
}

.post-card {
  padding: 15px;
  border-radius: 12px;
  border: 1px solid ;
  margin-bottom: 10px;
}

.post-card button {
  padding: 8px 12px;
  border-radius: 6px;
  background-color: rgb(235, 60, 60);
  color: white;
  cursor: pointer;
}


