*{
    margin: 0px;
    padding: 0px;
    background-color: black;
    color: white;
}
button{
    background-color: green;
    color: white;
    border-radius: 5px;
    padding: 5px;
    margin-left: 10px;
    cursor: pointer;
}
.header{
    text-align: center;
    background-color: white;
    color: black;
    padding: 10px;
    font-size: 25px;
    font-weight: bold;
    margin-top: 0px;
}
.mc{
    margin: 20px;  
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: column wrap;
    
}
.Searchitem{
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.lc{
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}